@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body
{
    background: #91B37F;
} */

/* Skaber grid */

/* Hvis columns eller rows ændres skal areas også tilpasses */
.grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "header header header"
    "content1 content1 kontaktformular"
    "video video video"
    "priser om_pulvis tilbud"
    "footer footer footer"
    ;
}

/* Definere farve på alle headers og paragrafer */

h1, h2, h3, h4
{
    text-align: center;
}

/* Giver grid farver så det nemt at se */

.grid div:nth-child(even)
{
    background-color: #91B37F;
}

.grid div:nth-child(odd)
{
    background-color: #91B37F;
}

/* Definerer længden på div */

.header
{
    grid-area: header;
}

.content1
{
    grid-area: content1;
}

.kontaktformular
{
    grid-area: kontaktformular;
}

.videoplayer
{
    grid-area: video;
}

.priser
{
    grid-area: priser;
}

.om_pulvis
{
    grid-area: om_pulvis;
}

.tilbud
{
    grid-area: tilbud;
}

.footer
{
    grid-area: footer;
}

/* Grid afsluttes */

.tre_bokse
{
    display: flex;
    flex-direction: column;
}

.tre_bokse h2
{
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
    color: #000;
    text-decoration: none;
}

.tre_bokse p
{
    display: flex;
    justify-content: center;
}

.priser_png, .om_pulvis_png, .tilbud_png
{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 5rem;
}

.om_pulvis p
{
    margin-bottom: 5rem;
    text-align: center;
}

/* Footer startes */

.footerbg
{
    background-size: 100% 100vh;
    object-fit: cover;
    filter: brightness(.5);
    /* Højere brightness = mørkere */
    background-image: url(../Mediefiler/jpeg/img_pulvis.jpg);
    background-repeat: no-repeat;

}

.footerindhold
{
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 10rem;

}

.footerboks
{
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    margin-left: 4rem;
}

.footerboks h2
{
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.footerboks p
{
    margin-bottom: 0.5rem;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.aabningstider, .kontakt_info, .adresse
{
    margin-top: 15rem;
}

.ur_png, .telefon_png, .maps_png
{
    display: flex;
    justify-content: center;
}

.kontakt_info p a
{
    text-decoration: none;
    color: #fff;
}

.to-top
{
    background: #91B37F;
    position: fixed;
    bottom: 16px;
    right:32px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    color:#1f1f1f;
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
    z-index: 1;
}

.to-top.active
{
    bottom:32px;
    pointer-events: auto;
    opacity:1;
}

@media screen and (min-width: 736px)
{

}
