@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-image: url("../Mediefiler/svg/cirklerdesk2.svg");
    
}

/* Skaber grid */

/* Hvis columns eller rows ændres skal areas også tilpasses */
.grid_index
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "header header header"
    "priser om_pulvis tilbud"
    "video video video"
    "footer footer footer"
    ;
}

.grid_doesbo
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "header header header"
    "priser om_pulvis tilbud"
    "video video video"
    "footer footer footer"
    ;
}

/* Definerer farve på alle headers og paragrafer */

h1, h2, h3, h4
{
<<<<<<< Updated upstream
    text-align: center;
=======
    font-size: 15px;
>>>>>>> Stashed changes
}

p
{
    font-size: 20px;
}

/* Definerer længden på div */

.header
{
    grid-area: header;
}

.priser
{
    grid-area: priser;
}

.om_pulvis
{
    grid-area: om_pulvis;
}

.tilbud
{
    grid-area: tilbud;
}

.video
{
    grid-area: video;
}

.footer
{
    grid-area: footer;
}

/* Grid afsluttes */


/* Timms kode */
/* MENU CSS DESKTOP START*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background-color:#2B2B2B;
    font-family: 'poppins',sans-serif;
    color: fff;
    width: 100%;
    position: absolute;
    background: rgba(43,43,43, 0.6)
}

.logo{
    color: #fff;
    text-transform: uppercase;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 3px;
}

.logo_svg
{
    z-index: 100;
    width:200px;
    height:50px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%; 
}

.nav-links li{
    list-style: none;
}
.nav-links a{
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.burger {
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}
/* MENU CSS DESKTOP SLUT*/

/* SCROLL ANIMATION */

@keyframes scroll_2 
{
    0%   { transform: translateY(0); opacity: 1; }
    25%  { opacity: 1; }
    75%  { transform: translateY(.75em); opacity: 0; }
    100% { transform: translateY(0); opacity: 0; }
}

.scroll-icon__dot 
{
    display: block;
    position: absolute;
    left: 50%;
    background: #91B37F;
    height: .5em;
    width: .5em;
    top: .6em;
    margin-left: -.25em;
    border-radius: 50%;
    transform-origin: top center;
    backface-visibility: hidden;
    animation: scroll_2 2s ease-out infinite;
}
  
.scroll-icon 
{
    display: block;
    position: relative;
    height: 3em;
    width: 1.5em;
    border: .25em solid #91B37F;
    border-radius: 1rem;
}


.scroll_animation 
{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-150%);
}

/* FORSIDE CSS DESKTOP START */

.forside {
    background: rgba(43,43,43, 0.6) url(../mediefiler/jpeg/img_pulvis.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:saturation;
    display: flex;
    flex-direction: row;
<<<<<<< Updated upstream
=======
    
>>>>>>> Stashed changes
}

.content1{
    margin-top: 120px;
    font-family:sans-serif;
    font-size: 14px;
}

.forside-tekst{
    margin-left: 10%;
    margin-right: 10%;
}

.forside-tekst-om-pulvis
{
    margin-bottom: 100%;
}

.content1 p{
    color: #fff;
    font-size: 16px;
    line-height: 200%;
}


.kontaktformular{
    margin-top: 120px;
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}


.tekst-box2{
    display: flex;
    justify-content: space-between;
  }
  
  .hilsen {
    display: flex;
    font-size: 10px;
    justify-content: center;
    color: white;
    margin-bottom: 10px;
  }
  
  .kontakt-sektion{
    display: flex;
  width: 400px;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 10px;
  background-color: rgba(43,43,43, 0.6);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  }
  
  .kontakt-formular{
      width: 75%;
  }
  
  .kontaktformular h1{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
  }

  .kontaktformular h2{
    text-align: center;
  }
  h1{
    color: rgba(255, 255, 255, 1);
    font-size: 35px;
    text-transform: uppercase;
  }
  
  h2{
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
    margin-bottom: 30px;
    font-weight: 600;
  }
  .region, .bolig {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(112, 112, 112, 1);
    border: none;
    width: 300px;
    height: 41px;
    padding: 12px;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .tekst-boks{
    background-color: rgba(255, 255, 255, 1);
    color: rgba(112, 112, 112, 1);
    border: none;
    min-width: 300px;
    height: 41px;
    padding: 12px;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  textarea{
    background-color: rgba(255, 255, 255, 1);
    color: rgba(112, 112, 112, 1);
    border: none;
    width: 100%;
    min-width: 300px;
    padding: 12px;
    font-size: 12px;
    min-height: 75px;
    max-height: 200px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .send-knap{
    background-color: rgba(145, 179, 127, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    min-width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .send-knap2 {
    display: flex;
    justify-content: center;
  }
  
  .send-knap:hover{
    background-color: rgba(152, 188, 133, 1);
  }

.tre_bokse
{
    display: flex;
    flex-direction: column;
<<<<<<< Updated upstream
    margin-top: 120px;
=======
    margin: 0 auto;
    
>>>>>>> Stashed changes
}

.tre_bokse h2
{
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
    color: #000;
    text-decoration: none;
}

.tre_bokse p
{
    display: flex;
    justify-content: center;
<<<<<<< Updated upstream
}

.om_pulvis_tekst, .priser_tekst, .tilbud_tekst
{
    margin-left: 5%;
    margin-right: 5%;
=======
    text-align: center;
    width: 400px;
>>>>>>> Stashed changes
}

.priser_png, .om_pulvis_png, .tilbud_png
{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 5rem;
}

.om_pulvis p
{
    margin-bottom: 5rem;
    text-align: center;
}

/* Footer startes */

.footerbg
{
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    background: rgba(43,43,43, 0.6) url(../mediefiler/jpeg/img_pulvis.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: saturation;
    display: flex;
    flex-direction: row;
    margin-top: 12%;
}

.footer img
{
    transform: translateY(-2rem);
}

.footerindhold
{
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 150px;

}

.footerboks
{
    display: flex;
    flex-direction: column;
    margin-right: 2%;
    margin-left: 2%;
}

.footerboks h2
{
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.footerboks p
{
    margin-bottom: 0.5rem;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.aabningstider, .adresse
{
    margin-top: 18.75rem;
}

.ur_png, .telefon_png, .maps_png
{
    display: flex;
    justify-content: center;
}

.kontakt_info p a
{
    text-decoration: none;
    color: #fff;
}

.soMe_icons
{
    display: flex;
    flex-direction: row;
    justify-content: center;
<<<<<<< Updated upstream
    margin-top: 12rem;
=======
    margin-top: 10rem;
>>>>>>> Stashed changes
}

.facebook_png
{
        margin-right: 1.5rem;
}

.instagram_png
{
    margin-left: 1.5rem;
}

.copyright
{
    margin-top: 5rem;
}

.to-top
{
    background: #91B37F;
    position: fixed;
    bottom: 16px;
    right:32px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    color:#1f1f1f;
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
    z-index: 1;
}

/* SLIDER */

.card
{
    margin-top: 150px;
}

.card-content
{
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 550px;
    background: red;
    border-radius: 10px;
    margin: 0 auto;
        
    /* From https://css.glass */
    background: rgba(145, 179, 127, 0.34);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    border: 1px solid rgba(145, 179, 127, 1);

    box-shadow: 8px 8px 29px -5px rgba(0,0,0,0.56);
    -webkit-box-shadow: 8px 8px 29px -5px rgba(0,0,0,0.56);
    -moz-box-shadow: 8px 8px 29px -5px rgba(0,0,0,0.56);
}

.ratingPicture
{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-1.5rem);
}

.ratingImg
{
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    
    box-shadow: 8px 8px 29px -5px rgba(0,0,0,0.56);
    -webkit-box-shadow: 8px 8px 29px -5px rgba(0,0,0,0.56);
    -moz-box-shadow: 8px 8px 29px -5px rgba(0,0,0,0.56);

    transform: translateX(-1.20rem);
}

.ratingTitle
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    font-size: 20px;
}

.ratingTitle h2
{
    color: #000;
    font-size: 30px;
}

.ratingName h3
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    transform: translateY(3rem);
}

.ratingDescription
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    text-align: center;
    transform: translateY(5rem);
}

.ratingDescription p
{
    margin-right: 10%;
    margin-left: 10%;
}

.ratings
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.ratingStars
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    transform: translatey(10rem);
}

.helper
{
    display: inline-block;
    vertical-align: middle;
    height: 30%;
    width: 100%;
}

.fa-star
{
    margin-left: 2px;
    margin-right: 2px;
}

.ratingStars p
{
    margin-right: 5%;
}

.checked
{
    color: #1C5D99;
}

.dot 
{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-top: 1%;
}

.active, .dot:hover 
{
    background-color: #91B37F;
}

/* Slideshow container */
.slideshow-container 
{
    max-width: 1000px;
    position: relative;
    margin: auto;
    
}

.to-top.active
{
    bottom:32px;
    pointer-events: auto;
    opacity:1;
}


.tekstområde1 p {
    color:white;
    padding-left: 11%;
    padding-top: 20px;
    padding-right: 10%;
    text-align:justify;
}

.tekstområde1 h1 {
    margin-bottom: 2vh;
    color:white;
    margin-left: 11%;
    margin-right: 50%;
}

.tekststyle{
    width: 90%;
    margin-top: 10vh;

}
/* baggrundsbillede til tekstområde 1, hvor der er tilføjet opacity */
.tekstområde1{
    height: 500px;
    font-size: 20px;
    background: rgba(0,0,0,0.5)url(../mediefiler/png/baggrundpulvis.png);
    background-size: cover;
    background-blend-mode:darken;
    display: flex;
    justify-content: space-around;

}

.tekstområde2 p{
    color:white;
    margin-left: 10%;
    margin-top: 20px;
    padding-right:10px;
}

.tekstområde2 h1 {
    margin-bottom: 2vh;
    color:white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 145px;
}

.container2{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background: #91B37F;

}
.tekstområde2{
    height:600px;
    color: #fff;
    font-size: 20px;

}

.tekstområde2 p
{
    width: 500px;
}

.tekstområde2_img{
    display:flex;
    justify-content: center;
    margin-top: 35px;
}

.tekstområde3
{
    height: 600px;
    color: #707070;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    margin-top: 4vh;
}

.tekstområde3 p{
    color:#707070;
    margin-left: 10%;
    margin-top: 20px;
    padding-right: 10px;
    text-align:justify;
}

.tekstområde3 h1 {
    margin-bottom: 2vh;
    color:#707070;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1vh;
}

.tekstområde3 h2 {
    margin-bottom: 2vh;
    color:#707070;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: bold;

}

<<<<<<< Updated upstream
=======
.footerindhold
{
    transform: translateY(-20%);
}

>>>>>>> Stashed changes
/* VIEWPORT = TABLET START*/

@media screen and (max-width: 1080px) {
    /* MENU CSS TABLET START*/
        .nav-links{
            width: 65%;
        }
    
        .forside{
            display: flex;
            flex-direction: column;
        }
    }
    /* MENU CSS TABLET SLUT*/
    /* VIEWPORT CSS MOBILE START */
    @media screen and (max-width: 768px) {
    /* MENU CSS MOBILE START*/
        body{
            overflow-x: hidden;
        }
        .nav-links{
            position: absolute;
            right: 0px;
            height: 92vh;
            top: 8vh;
            background-color:rgb(43,43,43);
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 75%;
            transform: translateX(100%);
            transition: transform 0.5s ease-in-out;
        }
        
        .nav-links li{
            opacity: 0;
        }
        
        /* burger ikonet */
    
        .burger{
            margin-left: 65%;
            display: block;
            cursor: pointer;
            margin: 20px;
        }
    
        .nav-active{
            transform: translateX(0%);
        }
    }
    
    /* nav link animation */
    
    @keyframes navlinkfade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
    
    /* Burger menu animation */
    
    .toggle .linie1{
        transform: rotate(-45deg) translate(-5px,6px);
    }
    .toggle .linie2{
        opacity: 0;
    }
    .toggle .linie3{
        transform: rotate(45deg) translate(-5px,-6px);
    }
    /* MENU CSS TABLET SLUT*/
    /* VIEWPORT CSS MOBILE SLUT */
    
    .resize-animation-stopper * {
        animation: none !important;
        transition: none !important;
      }