@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


.tekstområde1 p {
  color:white;
  padding-left: 11%;
  padding-top: 20px;
  padding-right: 10%;
  text-align:justify;
}

.tekstområde1 h1 {
  margin-bottom: 2vh;
  color:white;
  margin-left: 11%;
  margin-right: 50%;
}
.tekststyle{
  width: 90%;
  margin-top: 10vh;

}
/* baggrundsbillede til tekstområde 1, hvor der er tilføjet opacity */
.tekstområde1{
height: 500px;
font-size: 20px;
background: rgba(0,0,0,0.5)url(../mediefiler/png/baggrundpulvis.png);
background-size: cover;
background-blend-mode:darken;
display: flex;
justify-content: space-around;
margin-top: 100px;

}

.tekstområde2 p{
  color:white;
  margin-left: 10%;
  margin-top: 20px;
  padding-right:10px;
}
.tekstområde2 h1 {
  margin-bottom: 2vh;
  color:white;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 145px;
}

.container2{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background: #91B37F;

}
.tekstområde2{
  height:600px;
  color: #fff;
  font-size: 20px;

}

.tekstområde2 p
{
  width: 500px;
}

.tekstområde2_img{
  display:flex;
  justify-content: center;
  margin-top: 35px;
}

.tekstområde3
{
  height: 600px;
  color: #707070;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  margin-top: 4vh;

}
.tekstområde3 p{
  color:#707070;
  margin-left: 10%;
  margin-top: 20px;
  padding-right: 10px;
  text-align:justify;
}

.tekstområde3 h1 {
  margin-bottom: 2vh;
  color:#707070;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1vh;
}

.tekstområde3 h2 {
  margin-bottom: 2vh;
  color:#707070;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: bold;

}
/* responsive */
@media screen and (max-width: 1080px) {
  .container2 {
    flex-direction: column;
  }
}
