@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tekstområde1 p {
  color:white;
  padding-left: 10%;
  padding-top: 20px;
  padding-right: 10%;
  text-align:justify;
}

.tekstområde1 h1 {
  margin-bottom: 2vh;
  color:white;
  margin-left: 10%;
  margin-right: 50%;
}
.tekststyle{
  width: 90%;
  margin-top: 15vh;

}

.tekstområde1{
height: 500px;
font-size: 20px;
background: rgba(0,0,0,0.5)url(../mediefiler/png/baggrundpulvis.png);
background-size: cover;
background-blend-mode:darken;
display: flex;
justify-content: space-around;

}

.tekstområde2 p{
  color:white;
  margin-left: 10%;
  margin-top: 20px;
  padding-right:10px;
}
.tekstområde2 h1 {
  margin-bottom: 2vh;
  color:white;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 145px;
}

.container2{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background: #91B37F;

}
.tekstområde2{
  height:600px;
  color: #fff;
  font-size: 20px;

}

.tekstområde2 p
{
  width: 500px;
}


.tekstområde2_img{
  display:flex;
  justify-content: center;
  margin-top: 35px;
}

.tekstområde3
{
  height: 600px;
  color: #707070;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  margin-top: 8vh;

}
.tekstområde3 p{
  color:#707070;
  margin-left: 10%;
  margin-top: 20px;
  padding-right: 10px;
}

.tekstområde3 h1 {
  margin-bottom: 2vh;
  color:#707070;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1vh;
}

.tekstområde3 h2 {
  margin-bottom: 2vh;
  color:#707070;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: bold;

}


}
.to-top
{
    background: #91B37F;
    position: fixed;
    bottom: 16px;
    right:32px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    color:#1f1f1f;
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
    z-index: 1;
}

.to-top.active
{
    bottom:32px;
    pointer-events: auto;
    opacity:1;
}

@media screen and (max-width: 1080px) {
  .container2 {
    flex-direction: column;
  }
}
