@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tekstområde1
{
  background: ghostwhite;
  font-size: 20px;
  padding: 10px;
  border: 1px solid lightgray;
  margin: 10px;
}

.tekstområde2
{
  background: #91B37F;
  font-size: 20px;
  padding: 10px;
  border: 1px solid lightgray;
  margin: 10px;
}
.tekstområde3
{
  background: #fff;
  font-size: 20px;
  padding: 10px;
  border: 1px solid lightgray;
  margin: 10px;
}
