.body .sg-body{
    background-color: white;
    background-image: none;
    display: none;
}
.sg-logo { grid-area: sg-logo; }
.sg-fonts { grid-area: sg-fonts; }
.sg-knapper { grid-area: sg-knapper; }
.sg-ikoner { grid-area: sg-ikoner; }
.sg-inputfelter { grid-area: sg-inputfelter; }
.sg-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "sg-logo sg-logo sg-fonts sg-fonts"
    "sg-knapper sg-knapper sg-ikoner sg-ikoner"
    "sg-inputfelter sg-inputfelter sg-ikoner sg-ikoner";
}

.sg-logo{
    background-color: #91B37F;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
}
.sg-fonts{
    background-color: #91B37F;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
}
.sg-knapper{
    background-color: #91B37F;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
}
.sg-ikoner{
    background-color: #91B37F;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
}
.sg-inputfelter{
    background-color: #91B37F;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
}
.sg-exampel{
    background-color: rgb(112, 112, 112);
    border-top-style: solid;
    border-width: 2px;
    border-color: #fff;
    height: 100%;
}
.sg-exampel h1, h2, h3, p, a{
    margin-bottom: 0;
    text-align: start;
    margin-left: 10%;
    position: relative;
}
.sg-exampel .send-knap:hover{
    background-color: rgba(152, 188, 133, 1);
}

.sg-exampel input{
    margin-top: 0;
}
.sg-exampel textarea{
    width: 50%;
}
.sg-exampel .kontakt-sektion{
    background-color: rgb(112, 112, 112);
    align-items: center;
    box-shadow: none;
}